# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk
*.aab

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
lerna-debug.log*

# macOS
.DS_Store
*.pem
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# local env files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo
next-env.d.ts

# testing
/coverage
*.lcov
.nyc_output

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/

# misc
*.log
*.pid
*.seed
*.pid.lock
.cache
.tmp
.temp

# generated native folders
/ios
/android
